<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <title>Edit</title>
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="container">
        <h1 class="navbar-brand">Factory</h1>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customers">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/purchase_orders">Purchase Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/drawings">Drawings</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<div class="container"><h1>Edit detail</h1></div>

<div class="container">
    <form th:action="@{/details/{id}/edit(id=${detail.getId()})}" th:method="POST"
          th:object="${detail}">
        <div class="mb-3 col-lg-3">
            <label class="form-label" for="number">Number</label>
            <input class="form-control" id="number" th:field="*{number}" type="text">
            <label class="form-label" for="drawing">Drawing</label>
            <select class="form-select" id="drawing" th:field="*{drawing.id}">
                <option th:each="drawing : ${drawings}" th:value="${drawing.id}" th:text="${drawing.number}"></option>
            </select>
            <label class="form-label" for="purchaseOrder">Purchase Order</label>
            <select class="form-select" id="purchaseOrder" th:field="*{purchaseOrder.id}">
                <option th:each="purchaseOrder : ${purchaseOrders}" th:value="${purchaseOrder.id}"
                        th:text="${purchaseOrder.number}"></option>
            </select>
            <label class="form-label" for="state">State</label>
            <select class="form-select" id="state" th:field="*{state.id}">
                <option th:each="state : ${states}" th:value="${state.id}" th:text="${state.name}"></option>
            </select>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
</body>
</html>