<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <title>Drawings</title>
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="container">
        <h1 class="navbar-brand">Factory</h1>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customers">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/purchase_orders">Purchase Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/drawings">Drawings</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<div class="container"><h1>Drawings</h1></div>

<div class="container">
    <table class="table table-bordered table-hover">
        <thead>
        <tr class="table-success">
            <th>#</th>
            <th>Number</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="drawing, iterStat : ${drawings}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${drawing.number}"></td>
            <td>
                <form th:action="@{/drawings/{id}/delete(id=${drawing.id})}" th:method="POST">
                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                </form>
            </td>
            <td>
                <form th:action="@{/drawings/{id}/edit(id=${drawing.id})}" th:method="GET">
                    <button class="btn btn-info btn-sm" type="submit">Edit</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <a href="/drawings/new">Add new</a>
</div>

</body>
</html>