<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <title>Illegal Create</title>
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="container">
        <h1 class="navbar-brand">Factory</h1>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customers">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/purchase_orders">Purchase Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/drawings">Drawings</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<div class="container"><h1 th:text="'Sorry, the drawing with number <' + ${drawing} + '> already exists'">Sorry, the
    drawing with number you entered already exists</h1></div>

</body>
</html>